// place your custom styles here

@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EBGaramond-VariableFont_wght.ttf'),
       url('/fonts/EBGaramond-Italic-VariableFont_wghtc.ttf');
}

@font-face {
  font-family: 'FangZheng ShuSong';
  src: url('/fonts/FangZhengShuSong.ttf');
}

h2, h3, h4 {
  font-weight: 600;
}

.article-item .title {
  font-weight: 600;
}

code {
    margin: 0;
    padding: 0 0;
    border-radius: 0;
    background: transparent;
    font-size: 0.85em;
    overflow-wrap: break-word;
}
