// place your custom styles here

@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EBGaramond-VariableFont_wght.ttf'),
       url('/fonts/EBGaramond-Italic-VariableFont_wghtc.ttf');
}

@font-face {
  font-family: 'FangZheng ShuSong';
  src: url('/fonts/FangZhengShuSong.ttf');
}

h2, h3, h4 {
  font-weight: 600;
}

.article-item .title {
  font-weight: 600;
}
